In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
df = pd.read_csv("weather_data/WeatherPy_Challenge.csv")
df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain in Inches (last 3 hours),Snow in Inches (last 3 hours)
0,0,Mahebourg,MU,2020-05-10 20:40:08,-20.41,57.70,73.40,56,40,9.17,scattered clouds,0.0,0.0
1,1,Qaanaaq,GL,2020-05-10 20:40:08,77.48,-69.36,11.98,84,0,2.15,clear sky,0.0,0.0
2,2,Mezen,RU,2020-05-10 20:40:08,65.85,44.24,31.35,98,0,4.79,clear sky,0.0,0.0
3,3,Rikitea,PF,2020-05-10 20:40:09,-23.12,-134.97,76.06,73,4,10.25,clear sky,0.0,0.0
4,4,Port Elizabeth,ZA,2020-05-10 20:40:09,-33.92,25.57,59.00,72,0,3.36,clear sky,0.0,0.0

In [4]:
df.dtypes

City_ID                            int64
City                              object
Country                           object
Date                              object
Lat                              float64
Lng                              float64
Max Temp                         float64
Humidity                           int64
Cloudiness                         int64
Wind Speed                       float64
Current Description               object
Rain in Inches (last 3 hours)    float64
Snow in Inches (last 3 hours)    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [7]:
# General Syntax for creating a heatmap:
# 1. Assign the locations to an array of latitude and longitude pairs
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values
#temperatures = # an array of equal length of the locations array
# 3. Assign the figure variable to the gmaps.figure() attribute
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
# 5. Add the heatmap layer
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data
#fig

In [8]:
# Get the maximum temperature
max_temp = df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude
locations = df[["Lat","Lng"]]
# Get the maximum temperature
max_temp = df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = df[["Lat", "Lng"]]
humidity = df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = df[["Lat", "Lng"]]
clouds = df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = df[["Lat", "Lng"]]
wind = df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [28]:
rain_question = input("Do you want it to be raining? (yes/no) ")
snow_question = input("Do you want it to be snowing? (yes/no) ")

Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [31]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df=df.loc[(df["Rain in Inches (last 3 hours)"] == 0.0)& (df["Snow in Inches (last 3 hours)"] == 0.0)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain in Inches (last 3 hours),Snow in Inches (last 3 hours)
0,0,Mahebourg,MU,2020-05-10 20:40:08,-20.41,57.70,73.40,56,40,9.17,scattered clouds,0.0,0.0
1,1,Qaanaaq,GL,2020-05-10 20:40:08,77.48,-69.36,11.98,84,0,2.15,clear sky,0.0,0.0
2,2,Mezen,RU,2020-05-10 20:40:08,65.85,44.24,31.35,98,0,4.79,clear sky,0.0,0.0
3,3,Rikitea,PF,2020-05-10 20:40:09,-23.12,-134.97,76.06,73,4,10.25,clear sky,0.0,0.0
4,4,Port Elizabeth,ZA,2020-05-10 20:40:09,-33.92,25.57,59.00,72,0,3.36,clear sky,0.0,0.0
5,5,Talnakh,RU,2020-05-10 20:40:09,69.49,88.40,30.20,92,75,4.47,broken clouds,0.0,0.0
6,6,Mataura,NZ,2020-05-10 20:40:09,-46.19,168.86,46.44,82,71,3.36,broken clouds,0.0,0.0
7,7,Nizhneyansk,NZ,2020-05-10 20:40:09,-46.19,168.86,46.44,82,71,3.36,broken clouds,0.0,0.0
8,8,Saint-Philippe,RE,2020-05-10 20:47:43,-21.36,55.77,68.00,56,90,8.05,overcast clouds,0.0,0.0
9,9,Alta Floresta,BR,2020-05-10 20:47:44,-9.88,-56.09,77.74,93,100,3.76,light rain,0.0,0.0

In [32]:
# Determine if there are null values
preferred_cities_df.count()

City_ID                          505
City                             505
Country                          499
Date                             505
Lat                              505
Lng                              505
Max Temp                         505
Humidity                         505
Cloudiness                       505
Wind Speed                       505
Current Description              505
Rain in Inches (last 3 hours)    505
Snow in Inches (last 3 hours)    505
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City","Country", "Max Temp", "Lat","Lng","Current Description"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,Mahebourg,MU,73.40,-20.41,57.70,scattered clouds,
1,Qaanaaq,GL,11.98,77.48,-69.36,clear sky,
2,Mezen,RU,31.35,65.85,44.24,clear sky,
3,Rikitea,PF,76.06,-23.12,-134.97,clear sky,
4,Port Elizabeth,ZA,59.00,-33.92,25.57,clear sky,
5,Talnakh,RU,30.20,69.49,88.40,broken clouds,
6,Mataura,NZ,46.44,-46.19,168.86,broken clouds,
7,Nizhneyansk,NZ,46.44,-46.19,168.86,broken clouds,
8,Saint-Philippe,RE,68.00,-21.36,55.77,overcast clouds,
9,Alta Floresta,BR,77.74,-9.88,-56.09,light rain,

In [34]:
# Set parameters to search for a hotel
params = {'radius':5000,'type':'lodging','key':g_key}

In [35]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat=row["Lat"]
    lng=row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary
    params["location"]=f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [36]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,Mahebourg,MU,73.40,-20.41,57.70,scattered clouds,Shandrani Beachcomber Resort & Spa
1,Qaanaaq,GL,11.98,77.48,-69.36,clear sky,Qaanaaq Hotel
2,Mezen,RU,31.35,65.85,44.24,clear sky,
3,Rikitea,PF,76.06,-23.12,-134.97,clear sky,Pension Maro'i
4,Port Elizabeth,ZA,59.00,-33.92,25.57,clear sky,39 On Nile Guest House
5,Talnakh,RU,30.20,69.49,88.40,broken clouds,Talnakh Hotel
6,Mataura,NZ,46.44,-46.19,168.86,broken clouds,Ellie's Villa
7,Nizhneyansk,NZ,46.44,-46.19,168.86,broken clouds,Ellie's Villa
8,Saint-Philippe,RE,68.00,-21.36,55.77,overcast clouds,"Chambres d'hôte ""La Trinité"""
9,Alta Floresta,BR,77.74,-9.88,-56.09,light rain,Floresta Amazonica Hotel
10,Hermanus,ZA,57.99,-34.42,19.23,clear sky,Misty Waves Boutique Hotel
11,Tonekabon,IR,59.00,36.82,50.87,light rain,Hotel Sadra
12,Kalmunai,LK,81.48,7.42,81.82,overcast clouds,VS Villa
13,Saskylakh,RU,14.49,71.92,114.08,scattered clouds,Saskylakh Aeroport
14,Taolanaro,RU,14.49,71.92,114.08,scattered clouds,Saskylakh Aeroport
15,Barentsburg,RU,14.49,71.92,114.08,scattered clouds,Saskylakh Aeroport
16,Port Alfred,ZA,71.01,-33.59,26.89,clear sky,The Halyards Hotel
17,Busselton,AU,48.00,-33.65,115.33,overcast clouds,Observatory Guest House
18,Ancud,CL,55.99,-41.87,-73.82,broken clouds,HOTEL ANCUD DON LUCAS
19,Kikwit,CD,72.52,-5.04,18.82,overcast clouds,Centre D'Accueil Protestant

In [37]:
info_box_template="""
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

In [38]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Create the output file (CSV)
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the City Data into a CSV
df.to_csv(output_data_file, index_label="City_ID")

In [44]:
#fig.savefig("weather_data/WeatherPy_vacation_map.png")