In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities1.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Acajutla,13.59,-89.83,91.40,41,20,3.36,SV,2020-05-07 20:45:49
1,1,Cabo San Lucas,22.89,-109.91,96.80,13,5,10.29,MX,2020-05-07 20:44:18
2,2,Tual,-5.67,132.75,82.62,78,23,18.99,ID,2020-05-07 20:48:45
3,3,Kamaishi,39.27,141.88,48.31,72,3,6.60,JP,2020-05-07 20:48:45
4,4,Sitka,57.05,-135.33,55.40,43,40,10.29,US,2020-05-07 20:48:46

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [ ]:
# General Syntax for creating a heatmap:
# 1. Assign the locations to an array of latitude and longitude pairs
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values
#temperatures = # an array of equal length of the locations array
# 3. Assign the figure variable to the gmaps.figure() attribute
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
# 5. Add the heatmap layer
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data
#fig

In [7]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat","Lng"]]
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)& (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Tual,-5.67,132.75,82.62,78,23,18.99,ID,2020-05-07 20:48:45
6,6,Pital,2.27,-75.80,78.82,65,90,1.32,CO,2020-05-07 20:48:46
9,9,Edd,13.93,41.69,90.00,59,7,11.65,ER,2020-05-07 20:48:46
11,11,Laguna,38.42,-121.42,88.00,12,1,11.41,US,2020-05-07 20:48:46
13,13,Kapaa,22.08,-159.32,77.00,69,75,18.34,US,2020-05-07 20:46:37
15,15,Padang,-0.95,100.35,78.28,81,100,7.78,ID,2020-05-07 20:48:47
16,16,Porto Novo,6.50,2.60,84.20,83,40,11.41,BJ,2020-05-07 20:48:47
37,37,Trairi,-3.28,-39.27,79.66,79,2,8.48,BR,2020-05-07 20:47:25
43,43,Puerto Ayora,-0.74,-90.35,86.00,66,20,11.41,EC,2020-05-07 20:48:51
49,49,Seydi,39.48,62.91,76.50,46,72,15.39,TM,2020-05-07 20:48:52

In [20]:
# Determine if there are null values
preferred_cities_df.count()

City_ID       166
City          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
Country       165
Date          166
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City","Country", "Max Temp", "Lat","Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
2           Tual      ID     82.62  -5.67  132.75
6          Pital      CO     78.82   2.27  -75.80
9            Edd      ER     90.00  13.93   41.69
11        Laguna      US     88.00  38.42 -121.42
13         Kapaa      US     77.00  22.08 -159.32
15        Padang      ID     78.28  -0.95  100.35
16    Porto Novo      BJ     84.20   6.50    2.60
37        Trairi      BR     79.66  -3.28  -39.27
43  Puerto Ayora      EC     86.00  -0.74  -90.35
49         Seydi      TM     76.50  39.48   62.91

In [23]:
# Set parameters to search for a hotel
params = {'radius':5000,'type':'lodging','key':g_key}

In [30]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat=row["Lat"]
    lng=row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary
    params["location"]=f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [31]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Tual,ID,82.62,-5.67,132.75,Grand Vilia Hotel
6,Pital,CO,78.82,2.27,-75.80,Finca el Rebaño Vida el Uvital
9,Edd,ER,90.00,13.93,41.69,
11,Laguna,US,88.00,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
13,Kapaa,US,77.00,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
15,Padang,ID,78.28,-0.95,100.35,Mercure Padang
16,Porto Novo,BJ,84.20,6.50,2.60,Tour Eiffel Hotel Benin
37,Trairi,BR,79.66,-3.28,-39.27,Pousada Field Lilies - Trairi
43,Puerto Ayora,EC,86.00,-0.74,-90.35,Finch Bay Galapagos Hotel
49,Seydi,TM,76.50,39.48,62.91,
59,Houma,US,79.00,29.60,-90.72,Courtyard by Marriott Houma
61,Vaini,TO,78.80,-21.20,-175.20,Keleti Beach Resort
65,Garoua,CM,89.60,9.30,13.40,Hotel De L'Amitie
67,Atuona,PF,80.94,-9.80,-139.03,Villa Enata
76,Manavalakurichi,IN,80.60,8.13,77.30,Udaya Boys Hostel
77,Fomboni,KM,82.51,-12.28,43.74,Auberge les abou
78,Kavaratti,IN,85.64,10.57,72.64,Bismillah Hotel And Lodging
80,Henties Bay,NaN,79.00,-22.12,14.28,Fishermans Guest House
84,Telimele,GN,76.17,10.92,-13.33,
85,Beira,MZ,77.00,-19.84,34.84,Beira Terrace Hotel

In [37]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

NameError: name 'hotel_info' is not defined

In [35]:
info_box_template="""
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, in hotel_df.iterrows()]

ValueError: too many values to unpack (expected 1)